{
    "swagger": "2.0",
    "info": {
        "description": "This is DKMS api.",
        "title": "DKMS API",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "API Support",
            "url": "http://www.swagger.io/support",
            "email": "support@swagger.io"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "aliyun.eagle711.win:8080",
    "basePath": "/",
    "paths": {
        "/get_pk_sk_pairs": {
            "get": {
                "description": "TODO",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "GetPkSKPairs"
                ],
                "summary": "get (pk,sk) pair",
                "parameters": [
                    {
                        "type": "types.Identity",
                        "description": "COMMENT",
                        "name": "identity",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "COMMENT",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/types.Response"
                        }
                    },
                    "400": {
                        "description": "COMMENT",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/types.Response"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "types.Response": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer"
                },
                "data": {
                    "type": "object"
                },
                "msg": {
                    "type": "string"
                }
            }
        }
    }
}